body {
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
footer {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    margin-top: auto;
    margin-left: 0px;
    text-align: center;
    color: #444;
    background: #fff;
    padding: 0
}
ul li a {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0 0.5rem;
    text-decoration: none;
}
ul li a:hover {
    background-color: grey !important;
    text-decoration: none;
    display: block;
    border-radius: 5%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.dropdown-item {
    margin: 0;
}
.dropdown-item ul li a:hover {
    background-color: lightgrey !important;
}